.content{
    display: inline-block;
}

.header{
    min-width: 100vw;
    min-height: 100px;
}


.footer{
    min-width: 100vw;
    min-height: 100px;
}

.leftMenu {
    display: inline-block;
    width: 20vw;
    min-height: 100px;
}

.goodsList {
    width: 500px;
}

.goodsPosition {
    border: 1px;
    margin-left: 5px;
    margin-top: 5px;
    width: 400px;
 }

.goods-name {
    margin-right: 5px;
    width: 100px;
}

.img-scalar {
    object-fit: fill;
}